{% load static %}

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>SMS Code Robot</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

{% comment %}style{% endcomment %}
<style>
    .navbar {
        border: 0;
        border-radius: 0;
        background: #0d6efd;
    }

    .navbar-brand {
        font-weight: bold;
        color: white !important;
    }

    .navbar-nav > li > a {
        font-weight: bold;
        color: white !important;
    }

    .footer {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

{% comment %}javascript{% endcomment %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    (function ($) {
        $.getUrlParam = function (name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            let r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
    })(jQuery);
</script>

{% comment %}header{% endcomment %}
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#">SMS Code Robot</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/web/countries">All Countries</a></li>
                    <li><a href="/web/numbers">All Numbers</a></li>
                    <li><a href="https://gamebit.me/">Games</a></li>
                    <li><a href="/web/privacy">Privacy</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/cnzxo/">Author</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% comment %}content{% endcomment %}
<div class="content container">
    {% block content %}{% endblock %}
</div>

{% comment %}footer{% endcomment %}
<div class="footer">
    <div class="text-center">
        <small>&copy; 2022 By cnzxo</small>
    </div>
</div>

</body>
</html>
