{% extends 'layout.html' %}

{% load static %}

{% block content %}
    {% comment %}style{% endcomment %}
    <style>
        table {
            width: 100%;
            word-break: break-word;
        }

        table > thead {
            word-break: keep-all;
        }
    </style>

    {% comment %}path{% endcomment %}
    <ol class="breadcrumb">
        <li><a href="/#">Home</a></li>
        <li class="active">All Messages</li>
    </ol>
    {% comment %}content{% endcomment %}
    <div class="loading row">
        <div class="col-md-4 col-md-offset-4">
            <img src="{% static 'img/loading.gif' %}" alt="loading" style="width: 100%;">
        </div>
    </div>
    <div class="messages" style="display: none;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>From</th>
                <th>Message</th>
                <th>DateTime</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    {% comment %}javascript{% endcomment %}
    <script>
        $(function () {
            let number = $.getUrlParam('number');
            if (number === null) {
                alert('Missing parameter number.')
                return false;
            }
            $.get('/api/messages/' + number, function (e) {
                if (Array.isArray(e) === false) {
                    alert(e);
                    return false;
                }
                $('.loading').hide();
                $('.messages').show();
                let messages = $('.messages>table>tbody');
                let no = 1;
                $.each(e, function (index, item) {
                    let timestamp = new Date(item.time);
                    console.log(timestamp, timestamp.format('yyyy-MM-dd hh:mm:ss'));
                    let html = '<tr>' +
                        '<td>' + no + '</td>' +
                        '<td>' + item.from + '</td>' +
                        '<td>' + item.message + '</td>' +
                        '<td>' + item.time + '</td>' +
                        '</tr>';
                    no += 1;
                    messages.append(html);
                })
            })
        })
    </script>

{% endblock %}
